@page "/"

@inject IJSRuntime JS

<PageTitle>Index</PageTitle>

<div id="container">
    <button id="jsbutton">Enter fullscreen javascript</button>
    <button @onclick="EnterFullscreen">Enter fullscreen blazor</button>
</div>

@code {
    private IJSObjectReference? module;

    protected override async void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import", "/Pages/Index.razor.js");
            await module.InvokeVoidAsync("init");
        }
    }

    private async Task EnterFullscreen() {
        await module!.InvokeVoidAsync("enterFullscreen");
    }
}
